<div class="wrapper">
  <p>Share this link, click to copy</p>
  <p class="message" id="link">http://localhost:3100/{{ uri }}</p>
  {{#if expiresAt}}
    <p>Link expires at {{expiresAt}}</p>
  {{/if}}
  <p>Note will be destroyed after first view</p>
  <div>
    <form action="/" method="GET">
      <button type="submit" class="blue">Create another note</button>
    </form>
    <form action="/{{ uri }}" method="POST">
      <button type="submit" class="red">Burn this note</button>
    </form>
  </div>
</div>